body{
    padding: 200px 0 0 0 ;
    background-color: #f0f0f0 !important;
}
main{
    width: 85%;
    margin: auto;
}

.filtro { 
    margin-right: 4px;
}
.bt-buscar{
    margin-top: 16px;
}

.section-motos {
    padding: 40px 0;
}

.filtros-side{
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #FFFFFF;
    height: 35rem;
}

.form-filtro div label{
    font-weight: 400;
    margin-left: 5px;
}
.form-filtro div{
    margin-bottom: 8px;
}
h1{
    margin-left: 20%;
}
.line-buttons button{
    width: 30%;
    background-color: #0994c7;
    border: 1px solid #0994c7;
    font-weight: 600;
}
.line-buttons button:hover{
    background-color: #0a84b1;
    border: 1px solid #0a84b1;

}
.line-buttons{
    margin-bottom: 40px;
}
.meio{
    margin-left: 40px;
}
.corpo{
    padding: 30px 45px !important;
}
.card-text{
    text-align: justify;
}
.data{
    font-size: 18px;
}
.card{
    border-radius: 0 !important;
}
.cards-menores{
    margin-top: 20px;
}
